
<table class='nav-bar'>

  <tr>

    <td class='empty'></td>

    <td class='empty'></td>

    <td class='link'>
      <a href="/about-me">
        <div>
          about me
        </div>
      </a>
    </td>

    <td class='link'>
      <a href="/cv-resume">
        <div>
          cv / resume
        </div>
      </a>
    </td>

    <td class='link'>
      <a href="/social-media">
        <div>
          social media
        </div>
      </a>
    </td>

    <td class='empty'></td>

    <td class='empty'></td>

  </tr>

</table>
