
<table class='nav-bar'>

  <tr>

    <td class='empty'></td>

    <td class='empty'></td>

    <td class='link'>
      <div>
        Home
      </div>
    </td>

    <td class='link'>
      <a target='_blank' href='http://www.brandeis.edu/departments/philosophy/people/nicholas_hh.html'>
        <div>
          <u>About Me</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='https://github.com/nicholashh/cv-resume-tex/blob/master/nicholas-hanson-holtry.resume.pdf'>
        <div>
          <u>Résumé</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='https://github.com/nicholashh/cv-resume-tex/blob/master/nicholas-hanson-holtry.cv.pdf'>
        <div>
          <u>CV</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='https://github.com/nicholashh'>
        <div>
          <u>GitHub</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='https://www.linkedin.com/in/nicholashh'>
        <div>
          <u>LinkedIn</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='https://www.facebook.com/nicholashh'>
        <div>
          <u>Facebook</u>
        </div>
      </a>
    </td>

    <td class='empty'></td>

    <td class='empty'></td>

  </tr>

</table>
