
<table class='header'>
  <tr>
    <td class='wide pic pic1' rowspan='3'></td>
    <td class='wide pic pic2' rowspan='3'></td>
    <td class='wide pic pic3' rowspan='3'></td>
    <td class='tall text' colspan='3'>
      Welcome to Nicholas <br/>
      Hanson-Holtry's website!
    </td>
  </tr>
  <tr>
    <td class='skinny pic pic4 tall'></td>
    <td class='skinny pic pic5'></td>
    <td class='skinny pic pic6'></td>
  </tr>
  <tr>
    <td class='skinny pic pic7 tall'></td>
    <td class='skinny pic pic8'></td>
    <td class='skinny pic pic9'></td>
  </tr>
</table>
