
<table class='nav-bar'>

  <tr>

    <td class='empty'></td>

    <td class='empty'></td>

    <td class='link'>
      <div>
        Home
      </div>
    </td>

    <td class='link'>
      <a target='_blank' href='/about-me'>
        <div>
          <u>About Me</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='/resume'>
        <div>
          <u>Résumé</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='/cv'>
        <div>
          <u>CV</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='/github'>
        <div>
          <u>GitHub</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='/linkedin'>
        <div>
          <u>LinkedIn</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a target='_blank' href='/facebook'>
        <div>
          <u>Facebook</u>
        </div>
      </a>
    </td>

    <td class='empty'></td>

    <td class='empty'></td>

  </tr>

</table>
