
<table class='nav-bar'>

  <tr>

    <td class='empty'></td>

    <td class='empty'></td>

    <td class='link'>
      <a href="/about-me">
        <div>
          about me
        </div>
      </a>
    </td>

    <td class='link'>
      <a href="/cv-resume">
        <div>
          cv / resume
        </div>
      </a>
    </td>

    <td class='link'>
      <a href="/teaching">
        <div>
          teaching
        </div>
      </a>
    </td>

    <td class='link'>
      <a target="_blank" href="https://github.com/nicholashh">
        <div>
          <u>programming</u>
        </div>
      </a>
    </td>

    <td class='link'>
      <a href="/contact-info">
        <div>
          contact info
        </div>
      </a>
    </td>

    <td class='empty'></td>

    <td class='empty'></td>

  </tr>

</table>
