
<% include ../partials/begin-head.ejs %>

contact me

<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<td class='main-content-td'>

  email: nicholas dot hanson dot holtry at gmail dot com <br/>
  email: nicholashh at rice dot alumni dot edu <br/>
  <br/>
  LinkedIn: <a href='https://www.linkedin.com/in/nicholashh'>nicholashh</a> <br/>
  <br/>
  Facebook: <a href='https://www.facebook.com/nicholashh'>nicholashh</a> <br/>

</td>

<% include ../partials/end-body.ejs %>
