
<% include ../partials/begin-head.ejs %>

cv / resume

<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

  <td colspan='3' class='main-content-td'>

    <i>

      "The idea that you're supposed to have special qualifications to talk about world affairs is just another scam </i> &hellip; <i> It's just another technique for making the population feel that they don't know anything, and they'd better just stay out of it and let us smart guys run it. In order to do that, what you pretend is that there's some esoteric discipline, and you've got to have some letters after your name before you can say anything about it. The fact is, that's a joke </i> &hellip; <i> There's nothing in the social sciences or history or whatever that is beyond the intellectual capacities of an ordinary fifteen-year-old." <br/>

      <br/>

      ~ Noam Chomsky, Understanding Power, p137

    </i>

    <hr/>

  </td>

  <td class='empty'></td>
  
</tr>

<tr>

  <td class='empty'></td>

  <td>
    <a class='doc' href='https://github.com/nicholashh/cv-resume-tex/blob/master/nicholas-hanson-holtry.cv.pdf'>
      <div class='doc doc1'></div>
      <br/>curriculum vitae
    </a>
  </td>

  <td>
    <a class='doc'>
      <div class='doc doc2'></div>
      <br/>resume
      <br/>(focus #1)
    </a>
  </td>

  <td>
    <a class='doc'>
      <div class='doc doc2'></div>
      <br/>resume
      <br/>(focus #2)
    </a>
  </td>

<% include ../partials/end-body.ejs %>
