
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<td class='main-content-td'>

  Hello! Welcome to my website! <br/> <br/>

  My name is Nicholas Hanson-Holtry, but you can call me Nick HH! <br/> <br/>

  For a brief bio about my past, present, and future, check out my <a target='_blank' href='/about-me'><u>About Me</u></a>. <br/> <br/>

  For a more technical summary of my goals, see my <a target='_blank' href='/statement-of-purpose'><u>Statement Of Purpose</u></a>. <br/> <br/>

  Want to know what I'm reading? Feel free to browse my <a target='_blank' href='/reading-list'><u>Reading List</u></a>. <br/> <br/>

  There are several other links above that may be of interest to you. (However, at this point in time, my website doesn't actually do very much. Presumably additional functionality will be added over the years. Let me know if you can think of any specific additions that would be particularly useful for you!) <br/> <br/>

  My contact info is as follows: nicholas dot hanson dot holtry at gmail dot com.

</td>

<% include ../partials/end-body.ejs %>
