
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<td class='main-content-td'>

  Hello! Welcome to my website!<br/><br/>

  My name is Nicholas Hanson-Holtry, but most people call me Nick HH.<br/><br/>

  <!-- For a brief bio about my past, present, and future, check out my <a target='_blank' href='/about-me'><u>About Me</u></a>.<br/><br/> -->

  <!-- For a more technical summary of my goals, see my <a target='_blank' href='/statement-of-purpose'><u>Statement Of Purpose</u></a>.<br/><br/> -->

  <!-- Want to know what I'm reading? Feel free to browse my <a target='_blank' href='/reading-list'><u>Reading List</u></a>.<br/><br/> -->

  Feel free to browse the links above for more information about me.<br/><br/>

  See the links below for a list of my personal projects:

  <ul>
    <li><a target='_blank' href='/phil-ranker'>Phil Ranker</a> -- personalized rankings for philosophy phd program</li>
    <li><a target='_blank' href='https://www.opendota.com/'>Phil Ranker</a> -- an open source Dota 2 data platform</li>
  </ul>

  <!-- (At this point in time, my website doesn't do that much. If you can think of any specific additions that would be useful, please let me know!)<br/><br/> -->

  My contact info is as follows: nicholas dot hanson dot holtry at gmail dot com.

</td>

<% include ../partials/end-body.ejs %>
